body {
  font-size: 18px;
  font: Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.45; }

.circular {
  width: 12vmax;
  height: 12vmax;
  border-radius: 12vmax;
  -webkit-border-radius: 12vmax;
  -moz-border-radius: 12vmax;
  margin-left: 6vw;
  margin-top: 2vh;
  margin-right: 2vw;
  float: left;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  background: url("img/square-face.jpg") no-repeat center;
  background-size: cover; }

#sidebar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  background-color: rgba(77, 170, 103, 0.79); }

.sidebar-link {
  width: 10vmin;
  height: 10vmin;
  -webkit-border-radius: 6vmax;
  -moz-border-radius: 6vmax;
  border-radius: 6vmax;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 2vh;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(108, 255, 158, 0.79); }

#resume {
  background: url("img/resume.png") no-repeat center;
  background-size: cover; }

#linkedin {
  background: url("img/linked.png") no-repeat center;
  background-size: cover; }

#github {
  background: url("img/github-512.png") no-repeat center;
  background-size: cover; }

.content-title {
  font-weight: 400;
  text-align: center; }

.container-fluid {
  height: 80vh;
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw; }

.content-container {
  background-color: #feffb3;
  width: 100%;
  padding-top: 100%;
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.content-container:hover .overlay {
  opacity: 1; }

.overlay {
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }

@media (min-width: 768px) {
  .circular {
    width: 12vmax;
    height: 12vmax;
    border-radius: 12vmax;
    -webkit-border-radius: 12vmax;
    -moz-border-radius: 12vmax;
    margin-left: 6vw;
    margin-top: 2vh;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75); }

  #sidebar {
    position: fixed;
    left: 0;
    width: 12vw;
    height: 100vh;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75); }

  .sidebar-link {
    width: 8vmin;
    height: 8vmin;
    -webkit-border-radius: 6vmin;
    -moz-border-radius: 6vmin;
    border-radius: 6vmin;
    margin-left: 2vw;
    margin-right: 4vw;
    margin-bottom: 6vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  .container-fluid {
    height: 80vh;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 10vw; }

  .content-container {
    width: 100%;
    padding-top: 100%;
    margin: 16px; } }
#readinglog {
  background: url("img/readinglog.jpg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden; }

#snake {
  background: url("img/snake.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden; }

#store {
  background: url("img/store.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden; }

#huffman {
  background: url("img/huffman.gif") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden; }

#more {
  background: url("img/more.gif") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
